.venv
.idea

results/
*.csv

*.session
# Not storing encrypted session for now
*.enc

.env
telegram_token.txt
telegram_api_id.txt
telegram_api_hash.txt
telegram_phone.txt

__pycache__


.DS_Store

logs/