version: '3.9'

networks:
  appnet:
    driver: bridge
  monitoring:
    driver: bridge

services:
  db:
    image: timescale/timescaledb:latest-pg15
    container_name: metrics_database
    networks:
      - appnet
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: telegram_metrics
    volumes:
      - ./Storage/pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d telegram_metrics" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
    container_name: channel-stats
    networks:
      - appnet
      - monitoring
    ports:
      - 8001:8001
    # File-logging should be removed when going to k8s
    volumes:
      - ./logs:/var/log/app
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - 80:80
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.retention.time=15d"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring

volumes:
  prometheus_data:
  grafana_data:
  logs: