version: '3.9'

networks:
  appnet:
  monitoring:

services:
  db:
    image: timescale/timescaledb:latest-pg15
    container_name: timescaledb
    networks:
      - appnet
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: telegram_metrics
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  backend:
    image: .
    container_name: channel-stats
    networks:
      - appnet
      - monitoring
    ports:
      - 8001:8001
    env_file:
      - ./.env

  frontend:
    image: ./frontend
    container_name: frontend
    ports:
      - 80:80

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.retention.time=15d"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring

volumes:
  prometheus_data:
  grafana_data: