version: '3.8'

networks:
  appnet:

services:
  db:
    image: timescale/timescaledb:latest-pg15
    container_name: timescaledb
    networks:
      - appnet
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: telegram_metrics
    volumes:
      - ./pgdata:/var/lib/postgresql/data
